*{  padding: 0;
    margin: 0;
}
body{
    font-family: 'Quicksand', sans-serif;
    position: relative;
}
.dangnhap_index{
    color:white;
}
.ul_dangkydangnhap li {
    display: inline-block;
    color: white;
    position: absolute;
    right: 10px;
}
.ul_dangkydangnhap {
    position: absolute;
    right: 100px;
}
.a_dangkydangnhap{
    color: white;
}

.menu1{
    background: #1A4798;
    height: 60px;
    padding-top: 7px;
    padding-bottom: 7px;
    color: white;
 
}
.Khung_tron {
    border: 2px solid red;
    padding: 10px;
    border-radius: 25px;
    background-color:yellow;
}
.menu2 {
    height: 70px;
    padding-top: 17px;
    padding-bottom: 17px;
}
.nut1{
    border: 2px solid #1A4798;
    border-radius: 50px;
    height: 33px;
    width: 230px;
    display: inline-block;
    padding-top: 3px;
    position: relative;
  
}
.fb1{
    width: 32px;
    height: 32px;
    background: #1A4798;
    border-radius: 50%;
    color: white;
    text-align: center;
    position: absolute;
    top: -1px;
    line-height: 1.8em!important;
}
.nut1 span{
    padding-left: 40px;
}
.nut2{
    border: 2px solid rgb(189, 212, 84);
    border-radius: 50px;
    height: 33px;
    width: 160px;
    display: inline-block;
    padding-top: 3px;
    position: relative;
    margin-left: 23px;

}
.fb2{
    width: 32px;
    height: 32px;
    background: rgb(189, 212, 84);
    border-radius: 50%;
    color: white;
    text-align: center;
    position: absolute;
    top: -1px;
    line-height: 1.8em!important;
   


}
.nut2 span{
    padding-left: 40px;
    color:rgb(189, 212, 84);

}
.haithea {
    float: right;
}
.logo{
    height: 55px;
    position: absolute;
    top: -15px;
}
.menu3{
    background: rgb(189, 212, 84);

}
.menu3 a{
    color: white!important;
}
.i1 i {
    color: #c3c3c3;

}
.i1{
    position: relative;

}
.i2{
    position: absolute;
    
}
.cha1{
    position: relative;
    height: 40px;
}
.con1{
    position: absolute;
    list-style: none;
    background: #012464;
    padding-left: 10px;
    padding-right: 10px;
    width: 180px;
    padding-bottom: 15px;
  
    display: none;
    margin-top: -10px;
    z-index: 1;
}
.con1 a{
    color: white;
    padding-bottom: 20px;
    text-decoration: none;
    

}
.cha1:hover .con1{
    display: block;
    transition: 0.4s;
}

.con1 li:hover{
    background: rgb(128, 172, 255);
}
.hover2{
    height: 55px;
}
.i1{
    position: relative;
}
.search{
    border-radius: 50px;
}
.i2{
    position: absolute;
    right: 13px;
    
    
}

  .cardsanpham{
   
      height: 500px;
    margin-bottom: 50px;
   
  }
  .foot {
    background: #022f80;
    padding-top: 40px;
    padding-bottom: 40px;
}
.blog3 {
    color: white;
    font-weight: 400;
  
}
.li7{
    color:white;
}
.web_body{
    margin-top: 50px;
}
.btnThem{
    width: 100px;
    margin-right: 3px;
}
.btnXem{
    width: 100px;
}
.hinhfooter{
    width: 200px;
    top: 22px;
    /* bottom: 54px; */
    display: block;
    position: absolute;
    right: 125px;
    
}
.blog{
    color:white;
}
.blog1 {
    color: white;
}
.li4{
    color:white;
}
.li5 {
    color: white;
}
.li5 a{
    color: white;
}
.li4 a{
    color: white;
}
.gachduoi {
    background-color: #4691bd;
    height: 2px;
    margin-bottom: 20px;
}
.sanphammoi {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    color: brown;
}
#cssmenu {padding: 0; margin: 0; border: 0; line-height: 1;}
    #cssmenu ul,
    #cssmenu ul li{list-style: none; margin: 0; padding: 0;}

    #cssmenu ul li.hover,
    #cssmenu ul li:hover {position: relative; z-index: 599; cursor: default;}

    #cssmenu {width: 200px; background: #f7f7f7; font-family:sans-serif; font-weight:bold;
    zoom: 1; font-size: 12px;}
    #cssmenu:before {content: ''; display: block;}

    #cssmenu:after{content: ''; display: table; clear: both;}
    #cssmenu a {display: block; padding: 15px 20px; color: #f26724; text-decoration: none;
    text-transform: uppercase; border-bottom: 1px solid #ffffff;}

    #cssmenu > ul {width: 200px;}
    #cssmenu > ul > li > a {border-left: 4px solid #095586; color: #095586;}

    #cssmenu > ul > li a:hover {background: #095586; color:#f1f1f1;}
    .span_menudoc{
        font-size: 20px;
        font-weight: 600;
        color: brown;
    }

   
    