
@model IEnumerable<ThuongMaiDienTu.Models.OrderDetail>
@{
    Layout = null;
}

<div class="col-md-3 thumbnail" style="margin: 20px; background-color: #ff0000; color: #fff;height:210px">
    <h3>Tổng doanh thu</h3>
  
          <hr style="margin-top:57px" />
    <h3>@ViewData["TongDoanhThu"] VNĐ</h3>
  
</div>
