
@model IEnumerable<ThuongMaiDienTu.Models.OrderDetail>
@{
    Layout = null;
}

    <div class="col-md-3 thumbnail" style="margin: 20px; background-color: #ff0000; color: #fff;height:280px">
        <h3> Tổng doanh thu </h3>
        <p style="font-size:13px;text-align:center"><a href="~/HoaDonBanHang/Index">Nhấp vào đây để xem tổng doanh thu</a></p>
        
        
        <hr style="margin-top:30px" />
        @if(ViewData["TongDoanhThu"]!=null)
        { <h3>@ViewData["TongDoanhThu"] VNĐ</h3>}
        else
        { <h3>0 VNĐ</h3> }

        @if (ViewData["TongShipCOD"] != null)
        {<h5 style="color:white;">Thanh toán tiền mặt: @ViewData["TongShipCOD"]</h5>}
    else
    {
        <h5 style="color:black;">Thanh toán tiền mặt: 0</h5>
    }


        @if (ViewData["TongPaypal"] != null)
        {<h5 style="color: white;">Thanh toán online: @ViewData["TongPaypal"]</h5>}
    else
    {
        <h5 style="color:black;">Thanh toán online: 0</h5>
    }
    </div>
