@model IEnumerable<ThuongMaiDienTu.Models.Order>
    @{ 
        Layout = null;
    }
<div class="col-md-3 thumbnail" style="margin: 20px; background-color: #ffb642; color: #fff;height:280px">
    <h3>Tổng đơn hàng giao thành công</h3>
    <hr style="margin-top:50px"/>
    <h3>@ViewData["TongDonHang"]</h3>
    
</div>



