@model IEnumerable<ThuongMaiDienTu.Models.OrderDetail>
    @{ 
        Layout = null;
    }
    <div class="col-md-4 thumbnail" style="margin: 20px; background-color: hotpink; color: #fff;height:280px">
        <h3>Tổng số đồ chơi bán ra</h3>
        
        <hr style="margin-top:75px" />
        <h3>@ViewData["TongSoDoChoiBanRa"]</h3>
    </div>