
@{
    ViewBag.Title = "Cửa hàng đồ chơi | Thanh toán thất bại";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
    <div class="container" style="margin-top: 100px;">
        <div class="col-md-12">
            <div class="thumbnail text-center">
                <h2>THANH TOÁN THẤT BẠI!</h2>
            </div>
            <a href="@Url.Action("Index", "Home")" class="btn btn-info" style="display: block; margin: auto;width:300px; height:45px">Tiếp tục mua sắm <i class="fas fa-cart-plus"></i></a>
        </div>

    </div>
</body>

