

@model ThuongMaiDienTu.Models.LienHe

@{
    ViewBag.Title = "Cửa hàng đồ chơi | Liên hệ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gioi thieu</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <link href="~/Content/bootstrap-4.3.1-dist/css/bootstrap.css" rel="stylesheet" />

    <link href="~/Content/fontawesome-free-5.11.2-web/css/all.css" rel="stylesheet" />
    <link rel="stylesheet" href="index.css">
    <script type="text/javascript" src="index.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>

    <script src="~/Content/jquery-3.4.1.min.js"></script>

    <link href="~/Content/css/gioithieu_css/landing-page.min.css" rel="stylesheet" />

    <script src="~/Content/bootstrap-4.3.1-dist/js/bootstrap.js"></script>
</head>
<body>
    <section class="body_gioithieu">


        <!-- Image Showcases -->
        <section class="showcase">
            <div class="container-fluid p-0">
                <div class="row no-gutters">

                    <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('../../Contents/Image/Banner/hinhcuahang2.jpg');"></div>
                    <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                        <h2>Về chúng tôi</h2>
                        <p class="lead mb-0">Chuyên phục vụ đồ chơi cao cấp mang tính GIÁO DỤC và giúp PHÁT TRIỂN TRÍ SÁNG TẠO cho trẻ, tất cả các sản phẩm đều được thông qua kiểm định theo tiêu chuẩn quốc tế, đảm bảo CHẤT LƯỢNG và độ AN TOÀN tuyệt đối</p>
                    </div>
                </div>
                <div class="row no-gutters">
                    <div class="col-lg-6 text-white showcase-img" style="background-image: url('../../Contents/Image/Banner/hinhcuahang.jfif');"></div>
                    <div class="col-lg-6 my-auto showcase-text">
                        <h2>Thương hiệu</h2>
                        <p class="lead mb-0">Các thương hiệu đồ chơi uy tín từ nhiều Quốc gia trên thế giới như LEGO, SIKU, SCHLEICH, K'S KIDS, JANOD, MOXIE GIRLZ, LALALOOPSY, LEAPFROG..</p>
                    </div>
                </div>
                <div class="row no-gutters">
                    <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('../../Contents/Image/Banner/hinhcuahang3.jfif');"></div>
                    <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                        <h2> Địa chỉ cửa hàng</h2>
                        <p class="lead mb-0">Trụ sở chính: 155 Sư Vạn Hạnh P.12 Quận 10 TP.HCM</p>
                        <p class="lead mb-0">Hotline: 0903977727</p>
                    </div>
                </div>
            </div>
        </section>

        <!-- Testimonials -->
        <section class="testimonials text-center bg-light">
            <div class="container">
                <h2 class="mb-5">Đánh giá của khách hàng</h2>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                            <img class="img-fluid rounded-circle mb-3" src="~/Contents/Image/Banner/rs_1024x759-200827182847-1024-BLACKPINK-ice-cream-selena-gomez-mp.jpg" alt="">
                            <h5>Kim Jennie</h5>
                            <p class="font-weight-light mb-0">"Đồ chơi đẹp và chơi sướng lắm luôn!"</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                            <img class="img-fluid rounded-circle mb-3" src="~/Contents/Image/Banner/rs_1024x759-200827182847-1024-BLACKPINK-ice-cream-selena-gomez-mp.jpg" alt="">
                            <h5>Selena Gomez</h5>
                            <p class="font-weight-light mb-0">"Đồ chơi giá rẻ và chất lượng lém"</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                            <img class="img-fluid rounded-circle mb-3" src="~/Contents/Image/Banner/rs_1024x759-200827182847-1024-BLACKPINK-ice-cream-selena-gomez-mp.jpg" alt="" >
                            <h5>Sarah W.</h5>
                            <p class="font-weight-light mb-0">"Nhiều đồ chơi hấp dẫn và phong phú"</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </section>
