@{Layout = null;
}
<div id='cssmenu'>
    <ul>
        <li><span class="span_menudoc">THƯƠNG HIỆU</span></li>
        <li><a href="~/Home/BARBIE"><span>Barbie</span></a></li>
        <li><a href="~/Home/LEGO"><span>LEGO</span></a></li>
        <li><a href='~/Home/BRUDER'><span>BRUDER</span></a></li>
        
        <li><a href='~/Home/LOL'>LOL</a></li>
        <li><span class="span_menudoc">GIỚI TÍNH</span></li>
        <li><a href='#'>Nam</a></li>
        <li><a href='#'>Nữ</a></li>
        <li><a href='#'>Unisex</a></li>
        <li><span class="span_menudoc">ĐỘ TUỔI</span></li>
        <li><a href='#'>Dưới 12 tháng tuổi</a></li>
        <li><a href='#'>1 tuổi - 6 tuổi</a></li>
        <li><a href='#'>6 tuổi - 12 tuổi</a></li>
        <li><a href='#'>12 tuổi - 16 tuổi</a></li>
        <li><a href='#'>Trên 16 tuổi</a></li>
        <li><a href="~/Home/TatCaSanPham"><span class="span_menudoc">XEM THÊM</span></a></li>
    </ul>
</div>