@model IEnumerable<ThuongMaiDienTu.Models.Product>
@{
    ViewBag.Title = "TOYSTORE | Kết quả tìm kiếm";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<body>
    @Html.Partial("Carousel", "Home")
    <div class="container">

        <h3>Kết quả tìm kiếm: @Model.Count() kết quả</h3>
        @if (Model.Count() == 0)
        {
            <div style="text-align: center; background-color: #3366cc; color: white; font-weight: bold;font-size: 20px; padding: 10px 0 10px 0;">
                Không tìm thấy sản phẩm phù hợp
            </div>

            


        }
       

    </div>

</body>
<style>
    .card_men-sold {
        min-width: 64px;
        line-height: 1.2rem;
        font-weight: 300;
        position: absolute;
        font-size: 1.2rem;
        color: white;
        background-color: #757272;
        border-radius: 2px;
        padding: 4px 7px;
        top: 5%;
        right: 10%;
    }

    .product-sale {
        right: 16px;
        color: #fff;
        position: absolute;
        top: 0px;
        font-size: 18px;
        font-weight: bold;
        z-index: 9;
        color: #fff;
        background: #f00;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        line-height: 50px;
</style>

